@model AssignmentMVC.Models.PeopleViewModel;

@{
    ViewData["Title"] = "Person";
}

<h4><strong>Start</strong> Person.cshtml</h4>

<form asp-controller="Person" asp-action="Filter" method="post">
    <h2>Filters the Person list</h2>
    <h3>If field is empty, current list is displayed</h3>
    <p>
        <label>Search: <input type="text" name="filtertext" placeholder="[Fullname Or City]" /></label>
        
@*        <label>By Phone Number: <input type="text" name="filterbyphonenumber" placeholder="Phone Number" /></label>
        <label>By City: <input type="text" name="filterbycity" placeholder="City" /></label>*@

    </p>

    <button type="submit">Filter the list</button>
</form>

<table>
    <tr>
        <th>Id number</th>
        <th>FullName</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Delete</th>
    </tr>
@foreach (var aPersonInstance in Model.listOfPersons)
{    
    <partial name="_PersonRecord" model="aPersonInstance" />
    
@*
    <tr>
        <td>@aPersonInstance.IdPerson</td>
        <td>@aPersonInstance.FullName</td>
        <td>@aPersonInstance.PhoneNumber</td>
        <td>@aPersonInstance.City</td>
        <td><a asp-controller="Person" asp-action="RemovePerson" asp-route-id="@aPersonInstance.IdPerson">Remove - @aPersonInstance.IdPerson</a></td>
    </tr>   
    *@
}
</table>



<form asp-controller="Person" asp-action="Person" method="post">
    <h2>Add a Person</h2>
    <p>
        <label asp-for="cpvm.FullName">Full name: 
            <input asp-for="cpvm.FullName" type="text" placeholder="Full Name" />
            <span asp-validation-for="cpvm.FullName"></span>
        </label>
    </p>
    <p>
        <label asp-for="cpvm.PhoneNumber">Phonenumber:
            <input asp-for="cpvm.PhoneNumber" type="text" placeholder="Your phonennumber" />
            <span asp-validation-for="cpvm.PhoneNumber"></span>
        </label>
    </p>
    <p>
        <label asp-for="cpvm.City">City: 
            <input asp-for="cpvm.City" type="text" placeholder="City name" />
            <span asp-validation-for="cpvm.City"></span>
        </label>
    </p>
        
    <p>
        <button type="submit">Add a Person to the list</button>
    </p>
</form>


@*Removal Manually - Debug*@
@*
<form asp-controller="Person" asp-action="RemovePerson" method="post">
    <h2>Remove a Person by id - Debugging help</h2>
    <p>
        <label>Id of person: <input type="number" name="id" placeholder="Id number" /></label>
    </p>
    <p>
        <button type="submit" value="Create">Remove Person</button>
    </p>
</form>

*@













































@*
<form asp-controller="Person" asp-action="Person" method="post">
    <h2>Add a Person</h2>
    <p>
        <label>Name: <input type="text" name="FullName" placeholder="Your name" /></label>
    </p>
    <p>
        <label>Phonenumber: <input type="text" name="PhoneNumber" placeholder="Your phonennumber" /></label>
    </p>
    <p>
        <label>City: <input type="text" name="City" placeholder="City name" /></label>
    </p>
    <p>
        <button type="submit" value="Create">Add Person</button>
    </p>
</form>*@

@*<form asp-controller="Person" asp-action="AddPerson" method="post" role="form">
    <label asp-for="">
</form>
*@

<h4><strong>End</strong> Person.cshtml</h4>