@model IEnumerable<AssignmentMVC.Models.Person>;


@{
    ViewData["Title"] = "RetrievePeopleDB";
}

<h1>RetrievePeopleDB - Display Content in People Database</h1>


@* Print status for a specfic action *@
@if(ViewBag.StatusNewPerson != null)
{
    <h3>Status: @ViewBag.StatusNewPerson</h3>
}

@if(ViewBag.StatusDeletePerson != null)
{
    <h3>Status: @ViewBag.StatusDeletePerson</h3>
}

@if(ViewBag.StatusEditPerson != null)
{
    <h3>Status: @ViewBag.StatusEditPerson</h3>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id of Person</th>
            <th>FullName</th>
            <th>Phone Number</th>
            <th>City_Id</th>        
        </tr>
    </thead>

    <tbody>
        @foreach (var aPerson in Model)
        {
            <tr>
                <td>@aPerson.IdPerson</td>
                <td>@aPerson.FullName</td>
                <td>@aPerson.PhoneNumber</td>
                <td>@aPerson.City_Id</td>
            </tr> 
        }
    </tbody>

</table>
